.background-login{
	background-color: #FFF;
}

.mdl-layout__header{
	background-color: #2196F3 !important;
}

.mdl-button-deslogar{
	color: #FFF !important;
}

.card-login{
	margin: auto;
  	align-items: center;
  	justify-content: center;
}

.header{
	background-color: #2196F3;
}

.login-form{
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center
}

.input-invalid{
	color: #EF5350;
}

.msg-login-invalido{
	color: #EF5350;
}

.text-align-center{
	text-align: center;
}

.mdl-textfield{
	margin-top:  -10px !important;
	margin-bottom: -10px !important;
}

.dta-text{
	color: #BEBEBE;
	float: left;
}

.cardDadosUsuario{
	top: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}